   
    /* Spinner más pequeño */
    .spinner {
      border: 4px solid rgba(255, 255, 255, 0.2);
      border-top: 4px solid #2ea043;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 0.9s linear infinite;
      margin-bottom: 15px;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
   
   /* Texto debajo del spinner */
    #loadingText {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      font-family: Arial, sans-serif;
      display: flex;
      align-items: center;
    }

    /* Puntitos animados suaves */
    .dot {
      animation: blink 1.5s infinite;
      opacity: 0;
    }

    .dot:nth-child(1) {
      animation-delay: 0s;
    }

    .dot:nth-child(2) {
      animation-delay: 0.3s;
    }

    .dot:nth-child(3) {
      animation-delay: 0.6s;
    }

    @keyframes blink {

      0%,
      20% {
        opacity: 0;
      }

      30%,
      80% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }